<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifedawn.bestweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.White"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".widget.ConfigureWidgetActivity"
            android:theme="@style/AppTheme.White">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.DialogActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.White">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".widget.CurrentFirst">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="@string/ACTION_REFRESH" />
                <action android:name="@string/ACTION_SHOW_DIALOG" />
                <action android:name="@string/ACTION_INIT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/current_first_info" />
        </receiver>

        <receiver android:name=".widget.CurrentDaily">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="@string/ACTION_REFRESH" />
                <action android:name="@string/ACTION_SHOW_DIALOG" />
                <action android:name="@string/ACTION_INIT" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/current_daily_info" />
        </receiver>

        <receiver android:name=".widget.CurrentHourly">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="@string/ACTION_REFRESH" />
                <action android:name="@string/ACTION_SHOW_DIALOG" />
                <action android:name="@string/ACTION_INIT" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/current_hourly_info" />
        </receiver>

        <receiver android:name=".widget.CurrentHourlyDaily">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="@string/ACTION_REFRESH" />
                <action android:name="@string/ACTION_SHOW_DIALOG" />
                <action android:name="@string/ACTION_INIT" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/current_hourly_daily_info" />
        </receiver>


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>